@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@layer utilities {
  .animate-move-right {
    animation: moveRight 1s infinite linear;
  }
}
@media (max-width: 1388px) {
  .arrow-hide {
    display: none;
  }
}
