@tailwind base;
@tailwind components;
@tailwind utilities;

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}
.group:hover .group-hover\:visible {
  visibility: visible;
}
.group-hover\:opacity-100 {
  opacity: 0;
}
.group-hover\:visible {
  visibility: hidden;
}
